html, body {
	font-family: 'PT Sans', Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: normal;
}

h1, h2, h3 {
	font-family: 'PT Sans Caption', Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 400;
	/*line-height: 2em;*/
}

p {
	font-size: 10pt;
	line-height: 1.8em; /* 1.5em */
}


/**
 * ICONS
 */
.icon-lj {
	vertical-align: -3px;
}
.icon-tumblr {
	vertical-align: -4px;
}
.icon-gmail {
	vertical-align: -3px;
}
.icon-gtalk {
	vertical-align: -5px;
}
.icon-skype {
	vertical-align: -4px;
}
.icon-icq {
	vertical-align: -4px;
}
.icon-twitter {
	vertical-align: -3px;
}
.icon-facebook {
	vertical-align: -3px;
}
.icon-gae {
	vertical-align: -3px;
}
