html, body {
	background: #ededed;
	color: #999;
}

body {
	min-width: 680px;
	max-width: 840px;
	margin: 30px auto;
}

.footer {
	width: 100%;
	text-align: right;
	padding-top: 30px;
}

.content {
  padding-top: 10px;
  float: right;
  width: 396px;
}

#bookmarklet {
  width: 215px;
  height: 24px;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
  padding-top: 17px;
  cursor: move;

  font-weight: bold;
  z-index: 10;
}

.separator {
  font-size: 0;
  line-height: 0;
  background-color: #FFF;
  border-top: 1px solid #BBB;
  height: 1px;
  margin: 35px auto;
  width: 99.8%;
}


.preview {
	position: relative;
	margin: 0;
	border: none;
	padding: 0;
	_width: 396px;
	_height: 617px;
	_overflow: hidden;
}
.preview * {
	position: absolute;
}

#preview-img {
	left: 0;
	top: 0;
	width: 396px;
	height: 617px;
}

#preview-canvas {
	left: 23px;
	top: 89px;
	width: 350px;
	height: 500px;
}


#loading-spinner {
  left: 42px;
  top: 33px;
  width: 16px;
  height: 16px;
  line-height: normal;
  background: #e7e7e7 url(../img/loader.gif) no-repeat;
  z-index: 10;
  _display: none;
  _visibility: hidden;
}

#loading-stopicon {
  left: 88px;
  top: 63px;
  width: 17px;
  height: 17px;
  line-height: normal;
  background: #d0d0d0 url(../img/browser-icon-stop.png) no-repeat;
  z-index: 10;
  _display: none;
  _visibility: hidden;
}


a {
  color: #888;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}


/* Slider styles */
.ui-slider {
  position:relative;
  width: 275px;
  border: 1px solid #B9B9B9;
  float: left;
  margin-right: 15px;
  top: 6px;
  height: 6px;
  background: #FAFAFA;

  -moz-box-shadow: inset 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
  box-shadow: inset 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
}
.ui-slider-handle {
  position: absolute;
  height: 18px !important;
  width: 10px !important;
  margin-left: -6px !important;
  z-index: 10 !important;
  top: -8px !important;

  -moz-box-shadow: inset 3px 3px 0px -2px rgba(255, 255, 255, 1), 1px 1px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: inset 3px 3px 0px -2px rgba(255, 255, 255, 1), 1px 1px 1px rgba(0, 0, 0, 0.35);
  box-shadow: inset 3px 3px 0px -2px rgba(255, 255, 255, 1), 1px 1px 1px rgba(0, 0, 0, 0.35);
}
.slider-title {
  float: left;
  text-align: right;
  width: 20px;
  height: 18px;
  line-height: 18px;
  font-size: 15px;
  
  text-shadow: 0 1px 0 white;
  font-weight: bold;

  margin-right: 15px;
}

.slider-amount {
  border: 1px solid #B9B9B9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  -moz-box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);

  text-shadow: 0 1px 0 white;

  width: 40px;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;

  padding-top: 1px;
  padding-right: 6px;

  overflow: hidden;
}

.slider-container {
  height: 30px;
  margin: 10px 0;
  position: relative;
  clear: both;
}


.method-controls {
  display: none;
  padding: 20px 10px 5px 0px;
}

#debug {
  ___display: none;
}