body {
    font-size: 16px;
	margin: 20px;
	background-color: #3C3C3C;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid #AAA;
}


.ui-icon-wall {
	width: 24px;
	height: 24px;
	background-image: url(/img/pacman/btn-wall.png) !important;
	margin-top: -12px !important;
}
.ui-icon-blinky {
	width: 24px;
	height: 24px;
	background-image: url(/img/pacman/btn-blinky.png) !important;
	margin-top: -12px !important;
}
.ui-icon-pacman {
	width: 24px;
	height: 24px;
	background-image: url(/img/pacman/btn-pacman.png) !important;
	margin-top: -12px !important;
}

.ui-icon-find {
	width: 24px;
	height: 24px;
	background-image: url(/img/pacman/btn-find.png) !important;
	margin-top: -12px !important;
}


#maze {
	display: block;
	width: 560px;
	height: 464px;
	margin: 10px;
	border: 1px solid #BBB;
	background-color: #000;
}

#toolbar {
	margin: 10px;
}

#btn-find {
	margin-left: 14px;
}

#drawpick label {
    font-size: 1.1em;
	line-height: 1.4;
}


#steps-count {
  border: 1px solid #B9B9B9;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  
  -moz-box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0px 1px 4px -2px rgba(0, 0, 0, 0.55);

  text-shadow: 0 1px 0 black;
  color: white;

  width: 40px;
  height: 18px;
  line-height: 18px;
  font-weight: bold;
  text-align: right;

  padding-top: 1px;
  padding-right: 6px;

  overflow: hidden;
}


.description {
    color: #CCC;
    font-weight: bold;
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1.1em;
	margin-left: 10px;
}

.copyright, .copyright a {
    color: #CCC;
    font-family: Segoe UI, Arial, sans-serif;
    font-size: 1em;
	margin-top: 25px;
	margin-left: 0px;
}


.x-unselectable, .x-unselectable * {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select:ignore;
}