html, body {
	font-family: 'PT Sans', Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: normal;
}

body {
	margin: 30px;
	padding: 0;
}

li {
    margin: 0.8em;
}

h1 {
	font-family: 'PT Sans Caption', Geneva, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: 700;
	line-height: normal;
}