html, body {
	font-family: 'PT Sans', Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: normal;
    background-color: #1C1C1C;
	color: #FFF;
}

.clear {
	clear: both;
	font-size: 0;
	overflow: hidden; /* тройной презерватив для IE */
}


li {
    margin: 0.8em;
}

#header {
    background-color: #272727;
}

#header h1 {
    font-weight: normal;
    font-size: 28px;
    margin: 0;
}

#body {
}

#header, #body {
    padding: 30px;
    border-bottom: 1px solid #aaaaaa;
}


form {
	/*border: 1px solid #AAB09E;*/
	border: medium none;

	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	-moz-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35), inset -1px -1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35), inset -1px -1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.35), inset -1px -1px 3px rgba(0, 0, 0, 0.2);

	background-color: #F2F2F2;
	color: #4A4C45;
	padding: 15px 20px 20px 20px;
}

form fieldset {
	border: 0;
	text-shadow: 0 1px 0 white;
}

form fieldset label {
	display: block;
}

form input[type='text'],
form textarea {
	border: 1px solid #C9C9C9; /* #A8A8A8 */
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #FFF;
}

form input[type='text'] {
	height: 24px;
}

form button,
form input[type='button'],
form input[type='submit'] {
	height: 24px;
	border: medium none;
	border: 1px solid #B2B2B2; /* #A8A8A8 */

	text-shadow: 0 1px 0 white;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;

	/*-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);*/

	/*box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.2), inset -3px -3px 3px rgba(0, 0, 0, 0.2);*/

	background-color: #DADADA;
}

form button:hover,
form input[type='button']:hover,
form input[type='submit']:hover {
	background-color: #E9E9E9;
}


/**
 * CSS3 Gradient Buttons
 * by Web Designer Wall
 * http://webdesignerwall.com/tutorials/css3-gradient-buttons
 */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

/* white button */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}