#wrapper h1 {
	padding-top: 2em;
	text-align: center;
}

#wrapper code {
	display: block;
	text-align: center;
}

#container {
    height: 500px;
    min-width: 500px;
	margin: 2em 7em 0 7em;
}

#wrapper {
    padding-bottom: 5em;
}

.footer {
    left: auto;
    right: 5px;
    text-shadow: #DDD 0px 1px;
}

.footer .left-arrow {
    display: none;
}
.footer .right-arrow {
    display: inline;
}

.addhost {
    position: absolute;
    top: 2px;
    left: 2px;
}