        <h3>Здравствуйте.</h3>

        <p>Я — <span class="fn">Степан Легачёв</span>, веб-программист.</p>

        <p>Разбираюсь в интересных технологиях (люблю аббревиатуры php, sql, js, xslt, xml, css, html и многие другие), в полиграфии (люблю верстать книги, понимаю печатный процесс, без страха пользуюсь программами Эдоуби), с некоторой вероятностью сумею отличить хороший дизайн от плохого, при необходимости смогу настроить сервер почти для любых нужд.</p>
        <p>Дружу с классами и объектами в JS и PHP. Любимые фреймворки — Ext JS и Zend Framework соответственно.</p>

        <p>Мне можно в любое время позвонить на мобильный <code class="tel">+7-964-113-1453</code> (если не отвечу сразу, перезвоню). Или написать письмо <a class="email" href="mailto:siberex@gmail.com">на электронный ящик</a>, или послать короткое сообщение в айсикью (<code class="X-ICQ">22-4444-12</code>), гугл-толк (<code class="googletalk">siberex@gmail.com</code>) и джаббер (<code class="X-JABBER">siberex@jabber.org</code>). Или позвонить в Skype на&nbsp;ник-нейм <a href="skype:gealdin"><code class="skype">gealdin</code></a>.</p>

        <p class="adr">Живу в <span class="locality">Иркутск</span>е. Сносно владею русским языком, умею хорошо читать и плохо писать по-английски.</p>

        <p>Люблю практичные вещи, удобные сайты, забавные истории, качественные книги, красивые фильмы и живые фотографии. Ценю информативные статьи.</p>

        <p>У меня есть <a class="url X-EVOLUTION-BLOG-URL" href="http://siberex.livejournal.com/">тёплый уютный блог</a>. На его страницах я складываю свои рассуждения.</p>

        <p style="margin-top: 60px;">
            <strong>NOD32 updates</strong> (<a href="http://tzone.mag.tc/nod32/instruction.png">инструкция</a>):<br />
            <code style="line-height: 2em;">http://subversion.assembla.com/svn/nodup</code><br />
            <img src="http://tzone.mag.tc/nod32/update.gif" alt="NOD32 web updates, current version" border="0" style="margin-top: 5px; margin-bottom: 5px;" />
        </p>

        <div id="to-web20"><p>Site is being upgraded to <span style="border-style: dashed; border-width: 0 0 1px 0; border-color: gray; cursor: default;" title="Шутка Антона Герасименко">Web 2.0</span>.</p></div>

        <p style="text-align: right; margin-bottom: 0;">&copy; Stephan Legachev (<span class="nickname">Siberex</span>), 2004–2012</p>
        <p style="text-align: right; line-height: 0; margin-top: 5px;">
          <a href='/mon'><img width='80' height='15' border='0' alt='' src="http://ext.host-tracker.com/uptime-img/?s=15&amp;t=9235806&amp;m=00.1&amp;p=Total&amp;src=lvuc" /></a>
          <a style="text-decoration: none;" href="javascript:(function(){var s=document.createElement('script');s.type='text/javascript';s.src='//metrika.yandex.ru/js/clickmap/_loader.js';document.getElementsByTagName('body')[0].appendChild(s)})();void(0);">∞</a>
        </p>