<div id="photo"><img class="photo" itemprop="photo" src="{{baseUrl}}/img/me.jpg" alt="Stepan Legachev. Photo by Sergey Korobov" /></div>

<div id="wrapper">

    <div id="body">
		{{{text}}}
    </div>

    <div  id="dopefish"></div>
    <div class="clear"></div>
</div>

<div class="nod-updates">
	<strong>NOD32 updates</strong> (<a href="http://tzone.mag.tc/nod32/instruction.png">instructions</a>), 
	<img src="http://tzone.mag.tc/nod32/update2.gif" alt="NOD32 web updates, current version" style="vertical-align: -5px;" /><br />
	<code style="line-height: 2em;">http://subversion.assembla.com/svn/nodup</code>
</div>

<!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter9562021 = new Ya.Metrika({id:9562021, clickmap:true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/9562021" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->