        <h3>Greetings to you!</h3>

        <p>My name is <span class="fn">Stepan Legachev</span>.</p>

		<p>I am web-developer. I love js, php, sql, xslt, css and other strange words like ExtJS or Zend Framework.</p>
		<p>Also I am well-trained graphic designer, mostly specializing in print production.</p>


        <p>Call me: <code class="tel">+7-964-113-1453</code>.</p>
		<p>Write me: <a class="email" href="mailto:siberex@gmail.com">siberex@gmail.com</a>, or text on jabber (<code class="googletalk">siberex@gmail.com</code>).</p>
		<p>Skype me: <a href="skype:gealdin"><code class="skype">gealdin</code></a>.</p>

        <p class="adr">I living in <span class="locality">Irkutsk</span> (Russia).</p>
		<p>My native is russian, but I can speak english if you are talking not very fast :-)</p>

        <p>My main hobby is photography.</p>

        <p>Also I have <a class="url X-EVOLUTION-BLOG-URL" href="http://legachev.ru/">tumblr blog</a> in english.</p>

        <p style="margin-top: 60px;">
            <strong>NOD32 updates</strong> (<a href="http://tzone.mag.tc/nod32/instruction.png">manual</a>):<br />
            <code style="line-height: 2em;">http://subversion.assembla.com/svn/nodup</code><br />
            <img src="http://tzone.mag.tc/nod32/update.gif" alt="NOD32 web updates, current version" border="0" style="margin-top: 5px; margin-bottom: 5px;" />
        </p>

        <div id="to-web20"><p>Site is being upgraded to <span style="border-style: dashed; border-width: 0 0 1px 0; border-color: gray; cursor: default;" title="No, I just kidding. Web 2.0 does not exist">Web 2.0</span>.</p></div>

        <p class="copyrigth" style="text-align: right; margin-bottom: 0;">§ 2004–2012, Stephan Legachev (<span class="nickname">Siberex</span>)</p>

        <p style="text-align: right; line-height: 0; margin-top: 5px;">
          <a href='/mon'><img width='80' height='15' border='0' alt='' src="http://ext.host-tracker.com/uptime-img/?s=15&amp;t=9235806&amp;m=00.1&amp;p=Total&amp;src=lvuc" /></a>
          <a style="text-decoration: none;" href="javascript:(function(){var s=document.createElement('script');s.type='text/javascript';s.src='//metrika.yandex.ru/js/clickmap/_loader.js';document.getElementsByTagName('body')[0].appendChild(s)})();void(0);">∞</a>
        </p>