<div id="wrapper">

    <div id="body" class="vcard">
        <h3>Здравствуйте.</h3>

        <p>Я — <span class="fn">Степан Легачёв</span>, веб-про&shy;грам&shy;мист.</p>

        <p>Раз&shy;би&shy;ра&shy;юсь в&#160;ин&shy;те&shy;рес&shy;ных тех&shy;но&shy;ло&shy;ги&shy;ях (люб&shy;лю аб&shy;бре&shy;ви&shy;а&shy;ту&shy;ры php, sql, js, xslt, xml, css, html и мно&shy;гие дру&shy;гие), в&#160;по&shy;ли&shy;гра&shy;фии (люб&shy;лю верс&shy;тать кни&shy;ги, по&shy;ни&shy;маю пе&shy;чат&shy;ный про&shy;цесс, без стра&shy;ха поль&shy;зу&shy;юсь про&shy;грам&shy;ма&shy;ми Эдо&shy;уби), с&#160;не&shy;ко&shy;то&shy;рой ве&shy;ро&shy;ят&shy;ностью су&shy;мею от&shy;ли&shy;чить хо&shy;ро&shy;ший ди&shy;зайн от&#160;пло&shy;хо&shy;го, при&#160;не&shy;об&shy;хо&shy;ди&shy;мос&shy;ти смо&shy;гу на&shy;стро&shy;ить сер&shy;вер поч&shy;ти для лю&shy;бых нужд.</p>
        <p>Дру&shy;жу с клас&shy;са&shy;ми и объ&shy;ек&shy;та&shy;ми в JS и PHP. Лю&shy;би&shy;мые фрейм&shy;вор&shy;ки — Ext JS и&#160;Zend Framework со&shy;от&shy;вет&shy;ст&shy;вен&shy;но.</p>

        <p>Мне мож&shy;но в лю&shy;бое вре&shy;мя по&shy;зво&shy;нить на мо&shy;биль&shy;ный <code class="tel">+7-964-113-1453</code> (если&#160;не&#160;отве&shy;чу сра&shy;зу, пе&shy;ре&shy;зво&shy;ню). Или на&shy;пи&shy;сать пись&shy;мо <a class="email" href="mailto:siberex@gmail.com">на&#160;элек&shy;трон&shy;ный ящик</a>, или по&shy;слать ко&shy;рот&shy;кое со&shy;об&shy;ще&shy;ние в&#160;ай&shy;сикью (<code class="X-ICQ">22-4444-12</code>), гугл-толк (<code class="googletalk">siberex@gmail.com</code>) и джаб&shy;бер (<code class="X-JABBER">siberex@jabber.org</code>). Или&#160;по&shy;зво&shy;нить в Skype на&nbsp;ник-нейм <a href="skype:gealdin"><code class="skype">gealdin</code></a>.</p>

        <p class="adr">Жи&shy;ву в <span class="locality">Иркутск</span>е. Снос&shy;но вла&shy;дею рус&shy;ским язы&shy;ком, умею хо&shy;ро&shy;шо чи&shy;тать и&#160;пло&shy;хо пи&shy;сать по-ан&shy;глий&shy;ски.</p>

        <p>Люб&shy;лю прак&shy;тич&shy;ные ве&shy;щи, удоб&shy;ные сай&shy;ты, за&shy;бав&shy;ные ис&shy;то&shy;рии, ка&shy;чест&shy;вен&shy;ные кни&shy;ги, кра&shy;си&shy;вые филь&shy;мы и&#160;жи&shy;вые фо&shy;то&shy;гра&shy;фии. Це&shy;ню ин&shy;фор&shy;ма&shy;тив&shy;ные статьи.</p>

        <p>У ме&shy;ня есть <a class="url X-EVOLUTION-BLOG-URL" href="http://siberex.livejournal.com/">тёп&shy;лый уют&shy;ный блог</a>. На&#160;его стра&shy;ни&shy;цах я скла&shy;ды&shy;ваю свои рас&shy;суж&shy;де&shy;ния.</p>

        <p style="margin-top: 60px;">
            <strong>NOD32 updates</strong> (<a href="http://tzone.mag.tc/nod32/instruction.png">инструкция</a>):<br />
            <code style="line-height: 2em;">http://subversion.assembla.com/svn/nodup</code><br />
            <img src="http://tzone.mag.tc/nod32/update.gif" alt="NOD32 web updates, current version" border="0" style="margin-top: 5px; margin-bottom: 5px;" />
        </p>

        <div id="to-web20"><p>Site is being upgraded to <span style="border-style: dashed; border-width: 0 0 1px 0; border-color: gray; cursor: default;" title="Шутка Антона Герасименко">Web 2.0</span>.</p></div>

        <p style="text-align: right; margin-bottom: 0;">&copy; Stephan Legachev (<span class="nickname">Siberex</span>), 2004–2012</p>
        <p style="text-align: right; line-height: 0; margin-top: 5px;">
          <a href='/mon'><img width='80' height='15' border='0' alt='' src="http://ext.host-tracker.com/uptime-img/?s=15&amp;t=9235806&amp;m=00.1&amp;p=Total&amp;src=lvuc" /></a>
          <a style="text-decoration: none;" href="javascript:(function(){var s=document.createElement('script');s.type='text/javascript';s.src='//metrika.yandex.ru/js/clickmap/_loader.js';document.getElementsByTagName('body')[0].appendChild(s)})();void(0);">∞</a>
        </p>

    </div>

    <div  id="dopefish"></div>

    <div class="clear"></div>

</div>

<!-- Yandex.Metrika counter --><div style="display:none;"><script type="text/javascript">(function(w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter9562021 = new Ya.Metrika({id:9562021, clickmap:true}); } catch(e) { } }); })(window, "yandex_metrika_callbacks");</script></div><script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script><noscript><div><img src="//mc.yandex.ru/watch/9562021" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->