
<p>Stepan Legachev wuz here!</p>

<p><img src="/ico/livejournal.gif" alt="Livejournal icon" /> <a href="http://siberex.livejournal.com">siberex.livejournal.com</a></p>

<p><img src="/ico/gmail.gif" alt="GMail icon" /> me@sib.li</p>
<p><img src="/ico/gtalk.png" alt="GTalk icon" /> siberex@gmail.com</p>
<p><img src="/ico/skype.png" alt="Skype icon" /> gealdin</p>
<p><img src="/ico/icq.png" alt="ICQ icon" /> 22-4444-12</p>



<p>Powered by <img src="/ico/appengine.png" alt="App Engine icon" /> App Engine</p>