        <h3>Greetings to you!</h3>

        <p>My name is <span class="fn">Stepan Legachev</span>.</p>

		<p>I am a web-developer. I love java, xslt, php, sql, js, css and some other strange words like ExtJS or Zend Framework.</p>
		<p>Also I have a great experience in graphic design, mostly specializing in print production.</p>


        <p>Call me: <code class="tel">+7 964 113-1453</code></p>
		<p>Skype me: <a class="iconlink link-skype" href="skype:gealdin"><img class="icon-skype" src="/ico/skype.png" alt="Skype icon" width="16" height="16" /><code class="skype">gealdin</code></a></p>
		<p>Write me: <a class="email iconlink" href="mailto:me@sib.li"><img class="icon-gmail" src="/ico/gmail.gif" alt="GMail icon" width="16" height="16" />me@sib.li</a>,<br />
		or text me via jabber: <a class="X-JABBER iconlink link-gtalk" href="xmpp:siberex@gmail.com"><img class="icon-gtalk" src="/ico/gtalk.png" alt="GTalk icon" width="16" height="16" /><code class="googletalk">siberex@gmail.com</code></a></p>

        <p class="adr">I’m living in <span class="locality">Irkutsk</span>, <span class="country-name">Russia</span>.</p>
		<p>My native is russian<img class="icon-ru" src="/ico/ru.png" alt="RU" width="16" height="11" />, but I can speak english<img class="icon-us" src="/ico/us.png" alt="US" width="16" height="11" /> as well (if you are talking not very fast :-)</p>

        <p>My main hobby is photography.<!-- <a href="http://fotki.yandex.ru/users/siberex">Here</a> you can find some of my pictures. --></p>

        <p>Also I have <a class="url X-EVOLUTION-BLOG-URL iconlink" href="http://legachev.ru/"><img class="icon-tumblr" src="/ico/tumblr.gif" alt="Tumblr icon" width="16" height="16" />tumblr blog</a> in english and <a class="iconlink" href="http://siberex.livejournal.com/"><img class="icon-lj" src="/ico/livejournal.gif" alt="Livejournal icon" width="17" height="17" />livejournal</a> in russian.</p>
		<p>You can follow me on twitter <a class="iconlink" href="http://twitter.com/siberex"><img class="icon-twitter" src="/ico/twitter.png" alt="Twitter icon" width="16" height="16" />here</a>.</p>
		<p>And feel free to add me on facebook <a class="iconlink" href="http://www.facebook.com/siberex"><img class="icon-facebook" src="/ico/facebook.png" alt="Facebook icon" width="16" height="16" />here</a><br />
		or in <a class="iconlink" rel="author" href="https://plus.google.com/110623282696383295866/about?rel=author"><img class="icon-gplus" src="http://ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+ icon" width="16" height="16">google+</a>.

        <div id="to-web20"><p>Site is being upgraded to <span style="border-style: dashed; border-width: 0 0 1px 0; border-color: gray; cursor: default;" title="No, I’m just kidding. Web 2.0 does not exist :-)">Web 2.0</span>.</p></div>


        <p class="copyright" style="margin-top: 50px;">§ 2004–2012, Stephan Legachev (<span class="nickname">Siberex</span>)</p>
		<p class="copyright" style="">Powered by <img class="icon-gae" src="/ico/appengine.png" alt="App Engine icon" width="16" height="16" /> Google App Engine
          <a style="text-decoration: none;" href="javascript:(function(){var s=document.createElement('script');s.type='text/javascript';s.src='//metrika.yandex.ru/js/clickmap/_loader.js';document.getElementsByTagName('body')[0].appendChild(s)})();void(0);">∞</a>
		  <a href='/mon'><img class="uptime" width='80' height='15' alt='' src="http://ext.host-tracker.com/uptime-img/?s=15&amp;t=9235806&amp;m=00.1&amp;p=Total&amp;src=lvuc" /></a>
        </p>