
<h1>Stepan Legachev can be found : <span style="color: #E0E0E0;">-)</span></h1>

<p><a class="iconlink" href="http://siberex.livejournal.com/"><img class="icon-lj" src="/ico/livejournal.gif" alt="Livejournal icon" width="17" height="17" />siberex.livejournal.com</a></p>
<p><a class="iconlink" href="http://legachev.ru/"><img class="icon-tumblr" src="/ico/tumblr.gif" alt="Tumblr icon" width="16" height="16" />legachev.ru</a></p>

<p><a class="iconlink" href="mailto:me@sib.li"><img class="icon-gmail" src="/ico/gmail.gif" alt="GMail icon" width="16" height="16" />me@sib.li</a></p>
<p><a class="iconlink" href="xmpp:siberex@gmail.com"><img class="icon-gtalk" src="/ico/gtalk.png" alt="GTalk icon" width="16" height="16" />siberex@gmail.com</a></p>
<p><a class="iconlink" href="skype:gealdin"><img class="icon-skype" src="/ico/skype.png" alt="Skype icon" width="16" height="16" />gealdin</a></p>
<p><img class="icon-icq" src="/ico/icq.png" alt="ICQ icon" width="16" height="16" /><code>22-4444-12</code></p>
<p><a class="iconlink" href="http://twitter.com/siberex"><img class="icon-twitter" src="/ico/twitter.png" alt="Twitter icon" width="16" height="16" />@siberex</a></p>
<p><a class="iconlink" href="http://www.facebook.com/siberex"><img class="icon-facebook" src="/ico/facebook.png" alt="Facebook icon" width="16" height="16" />Stephan Legachev</a></p>
<p><a class="iconlink" rel="author" href="https://plus.google.com/110623282696383295866/about?rel=author"><img class="icon-gplus" src="http://ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+ icon" width="16" height="16">google+</a></p>
<p><a class="iconlink" href="http://vk.com/sibrx"><img class="icon-vk" src="/ico/vk.png" alt="VK icon" width="16" height="16">VK</a></p>


<p style="line-height: 3em">Powered by <img class="icon-gae" src="/ico/appengine.png" alt="App Engine icon" width="16" height="16" /> Google App Engine</p>