
  <p class="description">A* search algorithm example.</p>
	<p class="description">Blinky will try to find the shortest path to Pacman.</p>

	<canvas id="maze" class="ui-corner-all"></canvas>

	<span id="toolbar" class="ui-corner-all">
		<span id="drawpick">
			<input type="radio" id="btn-wall" name="drawmode" value="wall" checked="checked" /><label for="btn-wall">Draw wall</label>
			<input type="radio" id="btn-blinky" name="drawmode" value="blinky" /><label for="btn-blinky">Blinky</label>
			<input type="radio" id="btn-pacman" name="drawmode" value="pacman" /><label for="btn-pacman">Pacman</label>
		</span>

    <span id="steps-count">0</span> steps
		<!--button id="btn-find">Find the way!</button-->
	</span>

	<p class="copyright">← <a href="http://www.sib.li">Stepan Legachev</a></p>